body {
    background-color: #EEEEEE;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 3%
}

h1 {
    color: #222831
}

h3 {
    color: #393E46
}